body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
.exp-1, .exp-2{
  border: solid 2px grey;
  border-radius: 40px;
  color: grey;
  width: 350px;
  height: 50px;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 10px;
  transition: border 0.5s, color 0.5s, width 0.5s, height 0.5s, transform 0.5s, opacity 0.5s;
  position: relative;
  left: 0;
}
.exp-1{
  margin-bottom: 15px;
}
.exp-2{
  margin-top: 15px;
}
.exp-1:hover{
  color: white;
  border: solid 2px white;
  width: 400px;
  height: 60px;
  transform: translateX(-50%)
}
.exp-2:hover{
  color: white;
  border: solid 2px white;
  width: 400px;
  height: 60px;
  transform: translateX(-50%)
}
.hidden {
  opacity: 0;
}
.exp-1-info{
  margin-left:200px;
}
.exp-1-info {
  visibility: hidden;
  color: white;
  font-family: Roboto;
  position: absolute;
  top: 30%;
  left: 900px; 
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  opacity:0;
  transition: opacity 1s, visibility 1s;
}

.exp-1:hover + .exp-1-info {
  visibility: visible;
  opacity:1;
}
.exp-2-info{
  visibility: hidden;
  color: white;
  font-family: Roboto;
  position: absolute;
  top: 30%;
  left: 1100px; 
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  opacity:0;
  transition: opacity 1s, visibility 1s;
}
.exp-2:hover + .exp-2-info {
  visibility: visible;
  opacity:1;
}