body{
  background-image: url('/static/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.heading{
  color: grey;
  font-family: Roboto;
  height: 60px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.input{
  margin: 8px;
  height: 40px;
  width: 400px;
  background-color:transparent;
  color: rgb(196, 192, 192);
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid rgb(196, 192, 192);
  text-align: center;
  transition: padding-left 0.15s ease, padding-right 0.15s ease, padding-top 0.15s ease, padding-bottom 0.15s ease, border 0.15s ease;
}
select {
  margin: 8px;
  height: 40px;
  width: 400px;
  margin-left: 10px;
  background-color: transparent;
  color: grey;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid rgb(196, 192, 192);
  text-align: center;
  transition: padding-left 0.15s ease, padding-right 0.15s ease, padding-top 0.15s ease, padding-bottom 0.15s ease, border 0.15s ease;
}
.input:focus, select:focus{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 2px solid white;
}
.input::placeholder {
  color: rgb(175, 172, 172);
}
select::placeholder {
  color: rgb(175, 172, 172); 
}
.btn{
  margin: 8px;
  height: 40px;
  width: 400px;
  background-color:transparent;
  color: rgb(196, 192, 192);
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid rgb(196, 192, 192);
  text-align: center;
}
.output{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px; 
  width: 400px;
  background-color: transparent;
  color: rgb(196, 192, 192);
  font-size: 18px;
  font-family: Roboto;
  border-radius: 15px;
  border: 2px solid rgb(196, 192, 192);
  text-align: center;
  height: 40px;
}
.prediction{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}