body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.mid{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Papyrus;
  font-size: 60px;
  color: grey;
  transition: font-size 0.5s, color 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid:hover{
  color: white;
  font-size: 65px;
}
.info-bar{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.button{
  font-size: 22px;
  font-family: Roboto;
  color: grey;
  width:100px;
  height: 50px;
  margin-left: 30px;
  background-color: transparent;
  border: 2px grey;
  border-radius: 10px;
  transition: height 0.5s, width 0.5s, font-size 0.5s, color 0.5s;
}
.button:hover{
  height: 65px;
  width: 115px;
  font-size: 27px;
  color: white;
}
.button a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.dp{
  height:200px;
  width: 200px;
  border-radius: 100px;
  margin-bottom: 10px;
}
